

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Article by Vithal Wadje</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/ForgetPassword.css">
</head>
<div class="form-gap"></div>
<div class="container">
    <div class="row" style="margin-top:180px;">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h3><i class="fa fa-lock fa-4x"></i></h3>
                        <h2 class="text-center">Forgot Password?</h2>
                        <p>You can reset your password here.</p>
                        <div class="panel-body">
                            <form id="register-form" role="form" autocomplete="off" class="form" method="post">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                        <input id="email" name="email" placeholder="email address" class="form-control" type="email" />
                                    </div>
                                    <div id="divforpassword" style="display:none;">
                                        <div class="input-group" style="margin-top: 10px;">
                                            <span class="input-group-addon "><i class="glyphicon glyphicon-lock "></i></span>
                                            <input id="password" name="password" placeholder="new password" class="form-control" type="password" />
                                        </div>
                                        <div class="input-group" style="margin-top: 10px;">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                            <input id="password" name="confirmpassword" placeholder="Confirm Password" class="form-control" type="password" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group animated fadeIn">
                                    <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Submit" id="forgetpasswords" type="button" />
                                </div>
                                <input type="hidden" class="hide" name="token" id="token" value="" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  <div class="pricing_container">
    <div class="pricing-plan">
      <div class="plan-title">Basic</div>
      <div class="plan-price">$9.99/month</div>
      <ul class="plan-features">
        <li><i class="fas fa-check"></i> 10GB Storage</li>
        <li><i class="fas fa-check"></i> 1 User</li>
        <li><i class="fa-solid fa-ban"></i> Support</li>
      </ul>
      <button class="plan-button">Sign Up</button>
    </div>
    
    <div class="pricing-plan">
      <div class="plan-title">Standard</div>
      <div class="plan-price">$19.99/month</div>
      <ul class="plan-features">
        <li><i class="fas fa-check"></i> 50GB Storage</li>
        <li><i class="fas fa-check"></i> 5 User</li>
        <li><i class="fas fa-check"></i> Phone & Email Support</li>
      </ul>
      <button class="plan-button">Sign Up</button>
    </div>
    
    <div class="pricing-plan animated fadeIn">
      <div class="plan-title">Premium</div>
      <div class="plan-price">$49.99/month</div>
      <ul class="plan-features">
        <li><i class="fas fa-check animated fadeIn"></i> 100GB Storage</li>
        <li><i class="fas fa-check animated fadeIn"></i> 10 User</li>
        <li><i class="fas fa-check animated fadeIn" ></i> 24/7 Support</li>
      </ul>
      <button class="plan-button animated fadeIn">Sign Up</button>
    </div>
  </div>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="~/Forgetpassword.js"></script>