@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div class="form signup">
            <div class="form-content">
                <header>Signup</header>
                <form action="#">
                    <div class="field input-field">
                        <input type="text" id="fullnameidinputd" placeholder="FullName" maxlength="30" maxlength="40" class="input">
                    </div>
                    <div class="field input-field">
                        <input type="text" id="Emailidinputdvalue" placeholder="Email" class="input">
                    </div>
                    <div class="field input-field">
                        <input type="text" id="mobileidinputd" placeholder="Mobile Number" maxlength="30" maxlength="40" class="input">
                    </div>
                    <div class="field input-field">
                        <input type="text" id="stateidinputd" placeholder="State" maxlength="30" maxlength="40" class="input">
                    </div>
                    <div class="field input-field">
                        <input type="password" id="fistpasswordd" placeholder="Create password" class="password">
                    </div>
                    <div class="field input-field">
                        <input type="password" id="Confirmpasswordd" placeholder="Confirm password" class="password">
                        <i class='bx bx-hide eye-icon'></i>
                    </div>
                    <div class="field button-field">
                        <button id="signupbutton">Signup</button>
                    </div>
                </form>

            </div>
            </div>
        </div>
</body>
</html>
